*.imgui.ini
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Intellij locals
*.idea/*

#third-party
third-party/*

#sponza
*/sponza/*

#build
*/build-gltf-viewer/*
*/cmake-build-debug/*

#vscode 
*/.vscode/*
